<!DOCTYPE html>
<html lang="en" id='app'>
    <head>
        <meta charset="UTF-8">
        <title describe='{{ page.title }}'>Loading...</title>
        <link rel="stylesheet" href="newStyle/css/reset.css">
        <link rel="stylesheet" href="newStyle/css/style.css">
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="preloader">
          <p>
            Loading...    
          </p>
        </div>
        <div class="wrapper">
              <!--<header>
                <h1>{{ page.title }}</h1>
                <hr>
              </header>-->
            <div class="container">
                <div class="left">
                    <div class="top">
                        <input type="text" />
                        <a href="javascript:;" class="search"></a>
                    </div>
                    <ul class="people">
                        <li class="person" data-chat="common">
                            <img src="http://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
                            <span class="name">Общий чат</span>
                            <span class="time"></span>
                            <span class="preview">Count:{{ socketsCount }}</span>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="top">
                      <span>
                        <span class="name">Введите ваш НИКНЕЙМ</span>
                        <input placeholder="Введите ваше имя" v-model="newMessage.author">
                      </span></div>
                    <div class="chat active-chat" data-chat="common">
                        <div class="conversation-start">
                            <span>Общий чат</span>
                        </div>
                        <div class="bubble you">
                            Начало.
                        </div>
                        <div class="row" v-for="item in pullMessage">
                          <div class="bubble you" >
                            {{ item.message }}
                          </div>
                          <small>
                            Автор: {{ item.author }}<br>Время: {{ item.time }}
                          </small>  
                        </div>
                        
                    </div>
                    <div class="write">
                        <a href="javascript:;" class="write-link attach"></a>                       
                        <input type="text" v-model="newMessage.message" />
                        <a href="javascript:;" class="write-link smiley"></a>
                        <a href="javascript:;" @click.prevent="sendMessage" class="write-link send"></a>
                    </div>
                     <p>{{ error.form.invalidData }}</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
        <script type="text/javascript" src="js/chat.js"></script>
        <script type="text/javascript" src="js/common.js"></script>
        <script src="newStyle/js/index.js"></script>
    </body>
</html>