h2,h1, footer, .container {
  text-align: center;
}

.wrapper {
  display: none;
}
.top input {
  background-color: #eceff1;
  border-radius: 6px;
  color: #000;
}
.row {
  clear: both;
}
small {
  font-size: 0.9em;
  color: #999;
}